.hero {
  color: #fff;
  height: 600px;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  .con-bg {
    height: 600px;
    width: 100%;
    background: #00000058;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 850px) {
  .hero {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    .con-bg {
      height: 600px;
    }
  }
}
